[2016-10-05 19:51] devmarco opened #1 "Npm version is not working"
I tried use it by npm

[code]

But no one of them is working. When I log the mediumZoom, I can see just a empty object.

[2016-10-06 09:16] francoischalifour commented on #1
Yes, indeed. I'll get to that as soon as possible.

Thank your for reporting.

[2016-10-06 09:19] #1 closed

[2016-11-06 22:36] cannap opened #2 "Add a destroy method"
Hi is there a simple way to destroy the click events and remove the class?

I use it in Combination with Vue and yea when i leave a component i should destroy the event which are no longer used

thx for the nice lib 💃

[2016-11-06 23:33] francoischalifour commented on #2
Hi @cannap

There is unfortunately no such method in the API. I will however list 3 ideas that pop into my mind.

# 1. Using the `pointer-event` hack

This is the worst hack you could do, but adding a `pointer: none;` CSS style to your element should do the job...

# 2. Removing the event listeners on the targets

The `mediumZoom` object exports an `images` array that contains all the targets.

Yo

[2016-11-06 23:52] cannap commented on #2
Hi, thx for this nice answer i will try  first 2. later when i have time i add a method to the api and make a pr

[2016-12-19 11:19] charlie5188 opened #3 "Support retina-sized img set in srcset attribute"
There are mainly 2 ways of setting images for different dpi: one is CSS background with media query, the other is `srcset` attribute with `<img>`.

Is it possible to show alternative image that are set in srcset when zooming?

[2016-12-19 15:13] francoischalifour commented on #3
Nice idea! This feature has not yet been implemented. I won't have time to code it for the time being. Feel free to send a PR though.

[2016-12-21 12:26] francoischalifour commented on #2
Hey @cannap, did you come up with a working solution?

[2016-12-22 10:40] cannap commented on #2
yea
https://github.com/cannap/medium-zoom/blob/add-destroy/src/medium-zoom.js#L121-L130 but i need to create a new fork then i will submit a pr i messed something up

[2017-03-04 17:20] #2 closed

[2017-03-05 09:32] francoischalifour commented on #3
Hi @charlie5188, could you please provide more details and a specific use case for this enhancement? Also, how would you like to use this feature as a user of the library?

I'll see if it doesn't make the code too complex.

[2017-03-27 12:22] karimhossenbux opened #4 "Not vertically centered properly with <!DOCTYPE html> set"
Found a bug when having doctype declared.

When the doctype is set, `document.body.clientHeight` returns a bigger value than expected, the same height as the `body` instead of the height of the actual viewport.

Maybe the solution here is to replace `document.body.clientHeight`with `document.documentElement.clientHeight` ?

[2017-03-28 19:50] francoischalifour commented on #4
Thanks for opening the issue.

Since, as you pointed out, `document.body.clientWidth` doesn't work as expected when the doctype is declared, a simpler solution would be to directly replace `document.body.clientHeight` in favor of `window.innerHeight` (`document.documentElement.clientHeight` doesn't work when the doctype is not declared):

[code]

This way, it would work with or without the doctype

[2017-03-29 04:53] karimhossenbux commented on #4
Yes sure, if that works in both case, that's better!

[2017-04-01 13:14] #4 closed

[2017-04-27 07:49] onedrawingperday opened #6 "Make img thumb and then load larger img"
First of all thank you for the script. It is by far the best medium like zoom that I've seen, UX wise.

But the way it's structured with just one huge scaled image makes it bad for mobile and Google Page Speed does not like it at all.

How about changing the html structure so that a smaller image is displayed first and then load the high resolution image on click in the overlay? The thumb could be

[2017-05-03 18:31] francoischalifour commented on #6
Hi, thank you for getting involved. Your issue is somehow related to #3 (they both aim at solving the same problem). We need to investigate what behavior is expected and what concerns it begets.

I like your second solution better. My first view on this would be to:

1. Load the `data-hd` URL on the event `show` (when the user clicks on the image)
2. Set the `src` attribute to the `data-hd`'s valu

[2017-05-04 19:47] onedrawingperday commented on #6
Hi. Attaching a `load` event to `data-hd` looks good. Perhaps it would also be good to attach a class on the image after the load. e.g. loaded.

[2017-05-04 21:02] francoischalifour commented on #6
What would you need that class for?

[2017-05-04 21:22] onedrawingperday commented on #6
On second thought you're right, a class is not needed in this case.

[2017-05-15 12:27] karimhossenbux opened #7 "make SUPPORTED_FORMATS part of options"
It would be awesome if we could set SUPPORTED_FORMATS as we need.

Right now medium-zoom is enable on some SVG icons I have even if I target img tag:
`mediumZoom(document.querySelectorAll('.content img'))`

Let me know what you think?

Cheers!

[2017-05-16 20:05] francoischalifour commented on #7
That's interesting, thanks for pointing that out!

Can you please share your HTML template?

[2017-05-17 07:57] karimhossenbux commented on #7
Actually I've been able to fix that by targeting the parent container, and not the img tag itself.
I'll try to make more test once back on that project!

[2017-05-26 11:03] E-VANCE opened #8 "Allow for disabling default setting"
Hi there,

am using your plugin on a site of mine and everything works fine so far (great suite!) but there is one issue / quetsion I am facing:

How can I (globally) set the plugin's setting to not select any images by default and only work with what I am providing?

Specyfing zoomable images only adds to the default selection, at least when I tried...

`mediumZoom(document.querySelectorAll('[dat

[2017-05-30 22:49] francoischalifour commented on #8
Hi @E-VANCE, thanks for the feedback!

After investigating, you're totally right. The `isArrayLike` function, which is in charge of detecting [`NodeList`s](https://developer.mozilla.org/en-US/docs/Web/API/NodeList) and [`HTML Collection`s](https://developer.mozilla.org/en-US/docs/Web/API/HTMLCollection) is broken.

That's the reason why it falls back to `SUPPORTED_FORMATS`, which contains `svg`s.

[2017-05-30 22:50] francoischalifour commented on #7
Hi @karimhossenbux, a similar issue was raised #8.

It is indeed a bug and I will publish a fix very soon (https://github.com/francoischalifour/medium-zoom/issues/8#issuecomment-305030768).

Thank you again 😄

[2017-05-31 18:11] francoischalifour commented on #8
It should be fixed now. Please let me know if you find any other issues.

[2017-05-31 18:11] #8 closed

[2017-05-31 18:13] francoischalifour commented on #7
Closing for now as it should be fixed with aa8ff0f.

Please upgrade to 1.0.4 and let me know if you have other issues.

[2017-05-31 18:13] #7 closed

[2017-06-02 21:33] kentor opened #9 "does not work with browserify"
using browserify + browserify-hmr:

get

[code]

[2017-06-08 19:01] #9 closed

[2017-06-10 15:49] francoischalifour commented on #9
Any reasons you closed this issue?

[2017-07-20 17:25] sygad opened #11 "Floated images with margin not displaying right"
Hi

When images are placed side by side, or floating them and a margin is placed on the zoomed image, the margin is not present on the left hand side of the zoomed image and is doubled on the right hand side.

This doesn't happen when it's just a single image that it isn't floated.

[2017-07-21 13:56] francoischalifour commented on #11
Thank you so much!
I figured out why - will release a patch very soon 👍

[2017-07-21 14:02] #11 closed

[2017-07-21 14:06] sygad commented on #11
cheers

If i had to guess I would say it's something to do with measuring teh
viewport width which doesn't accommodate the scroll bar

On 21 July 2017 at 14:56, François Chalifour <notifications@github.com>
wrote:

--
Connect with me on LinkedIn <http://uk.linkedin.com/in/darrencousins> |
Follow me on Twitter <https://twitter.com/sygad1> | View my work at my Lab
Pages <http://www.darrencousins.com

[2017-08-29 10:07] dkrnl opened #12 "Uncaught TypeError: Cannot read property 'style' of null at medium-zoom.js:221"
If i fast double click on image, throw this exception.

browser = Chrome 60.0.3112

[2017-09-17 17:33] francoischalifour commented on #12
Hi, you're right, I didn't stress test it enough.

Thank you for reporting - will merge your PR soon.

[2017-09-17 18:04] #12 closed

[2017-09-21 17:44] antoinechalifour opened #17 "A more "React-ish" example"
Hey there!

I feel like the React example does not feel "React-ish" enough as it is querying the DOM.

Here is how I would use it with React: https://codepen.io/antoinechalifour/pen/rGLRom

Great job!

[2017-09-21 22:18] francoischalifour commented on #17
Hey!

You're right, I basically copied the vanilla JS into the [`componentDidMount()`](https://github.com/francoischalifour/medium-zoom/blob/master/examples/react/src/Post.js#L10) method. The reason for that is that I wanted to emulated an environment where you want to pull data from a Markdown file already containing the DOM elements. Essentially, I wanted the exact same demo as the [`javascript

[2017-09-24 16:24] antoinechalifour opened #19 "MZ doesn't play nice with overflow: hidden"
Hi again!

I am building an app in with images in cards, these cards have an "overflow: hidden" property and MZ doesn't work that well in this case.

Here is a simplified example to reproduce this bug: https://codepen.io/antoinechalifour/pen/yzVpMa

My 2 cents: MZ should clone the image element, append it to the end of the body and manipulate that element instead of the original one.

Also, this e

[2017-09-25 01:22] francoischalifour commented on #19
Thanks for bringing up this edge case.

That's indeed a good solution. Besides, it would make #6 way easier to implement. I've already got a POC. I will send a PR so you can preview the changes and see if you're happy with it! 🔥

Regarding the second example, I'd suggest using `min-height: 100vh;`.

[2017-09-30 13:20] francoischalifour commented on #19
Fixed with #20.

[2017-09-30 13:20] #19 closed

[2017-09-30 21:01] francoischalifour commented on #6
Fixed with #21.

[2017-09-30 21:01] #6 closed

[2017-09-30 21:02] francoischalifour commented on #3
Went for solution #6, fixed with #21.

[2017-09-30 21:02] #3 closed

[2017-10-10 05:57] tuelsch opened #23 "More flexible margin option"
Would be nice to have a CSS like margin option:
Single value integer: set equal pixel margins (24) => margin: 24px;
Single value string: directly set margin ("3rem auto") => margin: 3rem auto;

This would give the option to leverage other CSS units and define different margins on each side.

[2017-10-12 04:38] francoischalifour commented on #23
I thought about it but wondered the actual use case. Could you share yours?

A string would indeed be more flexible but not trivial to implement since [the margin is computed in JavaScript](https://github.com/francoischalifour/medium-zoom/blob/master/src/medium-zoom.js#L267-L279). I find it a bit silly to add a CSS parser just for this.

Thanks for requesting though. Share your use case so I can s

[2017-10-12 10:01] tuelsch commented on #23
I thought it was nice to have a close button if an image was zoomed. I wanted to make sure the button does not overlap the image and at the same time display the image as large as possible. So it would have been nice to define a top margin of about 72px and side/bottom margins of 24px.

I saw that the margins were calculated after I posted this, so maybe an array approach would be fitting:
- Int/A

[2017-10-12 16:55] francoischalifour commented on #23
Making it a string or an array is basically the same, so a string would be more CSS-ish. My concern was more about `em` and `rem` units.

Anyway, the whole point of the library is to stick to Medium's design. I don't think this use case is enough for me to implement this feature for now, sorry! If you have time though, feel free to give it a try. I could review the API design and guide you through

[2017-10-18 21:47] KsCorrales opened #24 "is possible initialize dynamically?"
I generate images dynamically because I am doing a SPA but the zoom does not work.

[2017-10-18 21:52] francoischalifour commented on #24
You need to attach the zoom to each image added to the DOM. The lib is not observing the DOM for changes.

If I miss your point, please explain further.

[2017-10-18 22:05] KsCorrales commented on #24
okay i resolve the problem, i use jquery "live on"
[code]
 but now i have a problem, the plugin create an image at the bottom of the code ok good, but when i out zoom and i open zoom again, create 2 images in the dom and to close y need 2 clicks out of image, when close i click again and create 3 images elements and so on :S

[2017-10-18 22:37] francoischalifour commented on #24
That's because you're applying the zoom multiples times on the same images. You should check beforehand if the image has the `medium-zoom-image` class.

[code]

A better way to do it would be to use the event `target` of the `DOMNodeInserted` callback:

[code]

This is plain JavaScript ([see reference](https://developer.mozilla.org/en-US/docs/Web/Guide/Events/Mutation_events)), it should work with

[2017-10-18 22:39] #24 closed

[2017-10-24 16:20] francoischalifour commented on #23
Hi @tuelsch! I've been thinking about your issue and started seeing it as a much higher level today. I think I'm onto something.

I don't think your problem is about margins, it's about templating. You'd essentially like to not only render the image, but some components alongside with it.

I thought about using a `container` option that you would pass to `mediumZoom`. This container would be a `te

[2017-10-25 11:20] NewJenk opened #26 "IE11 Support?"
Great script!

But it doesn't seem to be working on IE11; also displaying this message in the console log: Exception thrown and not caught

Do you plan to support it?

[2017-10-25 14:51] francoischalifour commented on #26
Hi! This lib is taking advantage of modern browser features. I don't have the tools and desire to support IE11, sorry!

If you *need* to support IE11, you may want to polyfill these 2 methods:

* [`Array.from()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/from)
* [`Array.prototype.includes()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Refer

[2017-10-27 02:36] #26 closed

[2017-10-27 03:20] francoischalifour commented on #23
The next release will include `container`s and `template`s support. You can achieve what you want to do with:

[code]

Stay tuned!

[2017-10-27 03:20] #23 closed

[2017-10-29 10:25] tuelsch commented on #23
This takes the idea a lot further than I originally thought --- which is absolutely great. Thank you for your very good work! Having templates and containers allows for a lot more flexibility and in my opinion is more future proof. I'd try to put some work into the library for the next time I see an opportunity.

[2017-11-04 13:08] ismay opened #27 "Medium zoom not using data-zoom-target for images with srcset"
I'm using medium-zoom on some responsive images (with srcset), and I'm running into some weird behaviour. I'm using a script to calculate the most appropriate image size for the clients viewport, and I set that as the `data-zoom-target` attribute.

But when zooming it seems to be zooming to the wrong size (as instead of enlarging to fill the viewport, the image shrinks). I'm not sure what exactly'

[2017-11-04 13:13] ismay commented on #27
It seems to be related to the srcset and sizes attributes, as when I remove those everything works as expected.

[2017-11-04 13:47] ismay commented on #27
Adding:

[code]

To `src/medium-zoom.js` fixed it temporarily (so it now works on the netlify branch build for this pr as well).

[2017-11-05 01:10] francoischalifour commented on #27
Hi @ismay, thank you for analysing that.

To implement the behavior you expected, from what I understand, we should not rely on `src` but rather on `srcset` if defined. Is that right? If so, I'm not aware of a native JavaScript API to select the most appropriate image size from `srcset` (disclaimer: I'm not very familiar with `srcset`). Let me know if you think of a way to easily retrieve the opti

[2017-11-06 02:39] #17 closed

[2017-11-06 19:35] ismay commented on #27
Thanks for the reply. Actually I was mistaken about srcset and sizes. If it’s zoomed it’ll be in a different context and the browser can no longer decide which image applies.

I’m currently piecing together my own solution to the problem, mainly inspired by how react-medium-image-zoom works, which is what I used before. Once I’m done I’ll let you know, and maybe it’ll be of use.

[2017-11-06 21:22] francoischalifour commented on #27
Yeah, that's why we'd need to find a way to extract the correct image according to the screen's size (which, again, I'm not sure there's a native API for).

`srcset` aside, I'm considering implementing your idea for the HD zoom, increasing the initial speed. I still haven't got my head around the "rollback" problem though.

Brilliant, keep me updated! 😁

[2017-11-07 10:33] aft3rlife opened #30 "Vue example?"
Currently, medium-zoom has examples for React. I think an example with Vue would be nice as well, cheers!

[2017-11-07 14:53] francoischalifour commented on #30
Hi, thanks for requesting. I'm not very proficient with Vue but I guess that would be a way to do it:

<details>
<summary><code>style</code></summary>

[code]
</details>

<details>
<summary><code>body</code></summary>

[code]
</details>

<details open>
<summary><code>script</code></summary>

[code]
</details>

Do you think of a better way to do it with Vue? I wouldn't like to expose bad examples.

[2017-11-09 12:47] ismay commented on #27
Finished my implementation, which you can find [here](https://github.com/ismay/ismaywolff.nl/tree/develop/lib/js/zoom). I ended up with quite a different project structure (loosely based it on another plugin, so not all design choices are my own), so you'll have to see what applies to your library.

Main differences are that I'm cloning the image, and setting its `sizes` attribute to the size of t

[2017-11-11 17:28] francoischalifour commented on #27
Thanks for the explanation, that's quite a good way of solving this!

If you want to reduce jank when unzooming, maybe replace the `srcset` with the initial `src` attribute before unzooming? (the one you cloned the initial image with). That'd be fewer pixels to translate back.

I'll definitely have a closer look at your implementation soon. Thanks for your research!

[2017-11-11 17:41] ismay commented on #27
You’re welcome. Thank you for the plugin!

And the yank for me actually occurs when zooming in. But it’s not that bad. Might do something about it later.

[2017-11-28 04:15] dennisfrank commented on #27
Hi guys. I would love to see a medium-zoom version that works with responsive images and `data-zoom-target`! :)

[2017-11-29 18:55] francoischalifour commented on #27
Thanks for your interest @dennisfrank! I've been busy lately but that's a feature you can expect from a coming release!

[2017-12-05 13:16] Loac-fr opened #31 "NPM / dist update"
Hey there, thanks for the library !

Unfortunately I wanted to use the new template function but it seems that the dist folder and npm registry are not up to date with the latest functionalities.

Should I use the source file for now or is an update planned ?
Thanks !

[2017-12-05 14:01] francoischalifour commented on #31
Hey, the library blew up recently, I wasn't feeling very confident in shipping this new feature. Happy to hear that you need it, that's a confidence boost! I'll make sure that I've tested it enough (should be fine!) and will publish the new release in the week 🙂

If you don't mind, can you share what you plan to use the `template` option for?

[2017-12-07 03:08] francoischalifour commented on #31
Released with 0.3.0. You can upgrade to get the `template` feature.

[2017-12-07 03:08] #31 closed

[2017-12-12 12:47] MiMaMuh opened #33 "Wrong dimensions: take picture elements into account?"
Hi,

I like the simplicity of this lib. I recognized, that the lib doesn't handle `<picture>` elements properly in the sense, when I use the `<picture>` element for art directed images – this means, I have different resolutions and crop sizes of the image based on the device size – it could lead to distorted image (dimensions).

For example: My mobile image is a crop of the desktop image showing o

[2017-12-14 03:17] francoischalifour commented on #33
Hi @MiMaMuh,

Dynamic image sources is something @ismay and I have been researching (see #27). We've come to the conclusion that accepting `srcset` as dimensions for the zoomed image would be a nice feature. It would solve most dimension issues without requiring extra work from the user (the user won't have to specify all the image versions to `medium-zoom`). This is something that I'll implement

[2017-12-14 09:56] MiMaMuh commented on #33
Hi @francoischalifour,
thanks for your answer. I already saw the post. I think, `srcset` alone wouldn't solve the issue. Because the issue is more, that `medium-zoom` takes the dimension from the current visible image. When I use `picture` then the dimensions may be different because of art direction decisions.

For me it would be fine when `medium-zoom` always use the default image of the `pictru

[2017-12-14 10:03] ismay commented on #27
By the way, I updated my approach slightly, and am now updating the `sizes` attribute automatically with js (currently with https://github.com/aFarkas/lazysizes, want to replace it with something more streamlined). Makes everything a lot simpler.

[2018-01-02 06:08] tuelsch commented on #30
I'd use the `mounted()` lifecycle hook, as it guarantees the elements being present in the DOM. https://vuejs.org/v2/guide/instance.html#Lifecycle-Diagram

[code]

[2018-01-03 02:54] tuelsch opened #34 "Throws error in IE 11 (Windows 10)"
I noticed that the library is not working in IE. I tracked down the cause and was briefly working on a solution but I'm a little bit stuck.

There seems to be a babel transpilation issue which makes use of the `_toConsumableArray ` which in turn uses `Array.from` and that is not supported in IE. All this causes the image selection process to go into the catch routine.

After some googling, I tried

[2018-01-04 18:16] bojanvidanovic commented on #27
Any updates on this?

[2018-01-07 18:21] francoischalifour commented on #34
As discussed in #26, I don't plan to support IE11. As far as I know, you'd need to polyfill [`Array.from()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/from) and [`Array.prototype.includes()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/includes). Including these two snippets of code before the `medium-zoom` imp

[2018-01-09 08:33] idolab commented on #27
Agree that a `srcset` version would be perfect.
And when using `lazysizes` with `medium-zoom`, the `data-sizes="auto"` will make `data-zoom-target` not working because of the calculated `sizes`

[2018-01-09 08:44] ismay commented on #27
Check out the way I use it, for me it works

[2018-01-09 12:00] francoischalifour commented on #30
Thank you @tuelsch!

[2018-01-10 01:06] tuelsch commented on #34
Thanks for clarifying, I'll see if I can polyfill these two methods with transpile-runtime and I'll check if it does not hurt bundle size.

If you like, I'll add a browser support section to the readme, to avoid future misunderstandings (=

[2018-01-10 10:40] francoischalifour commented on #34
Adding a browser support section to the README would be great! I should have done it already.

If we aim at supporting IE11, we could replace the 2 occurrences of `Array.prototype.includes()` by `Array.prototype.indexOf()` in the code (it's not a drastic change). We should however polyfill `Array.prototype.from()` or, in the "Browser support" section, specify that they need to include the polyfill

[2018-02-04 10:38] ismay commented on #27
Don't want to spam this thread, but the current iteration of the script I'm using is the final one as far as I'm concerned. I replaced lazysizes with a more focused script that just updates the sizes attribute:

https://github.com/ismay/ismaywolff.nl/tree/5a72fabae1518d9e0f3541e742710837a124744a/lib/js

It basically does everything I think you'd need for a script like this, hopefully it'll be a us

[2018-02-14 01:30] jhildenbiddle commented on #34
I've create a pull request to address this issue, bringing support for IE10/11.

https://github.com/francoischalifour/medium-zoom/pull/35

Goals:

- Prevent errors in IE, which in turn prevent other JavaScript from executing
- Do so without requiring developers to include a separate polyfill

I understand IE10/11 support probably isn't a priority, but in its current state medium-zoom breaks apps i

[2018-02-14 09:45] francoischalifour commented on #34
Hi @jhildenbiddle, thank you so much for taking the time to work on this issue!

As I mentioned in my previous message, template examples won't be able to work on IE < 11 because of its lack of [`template`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/template) support. This is the main reason I didn't intend to support IE versions. I want to be able to ship new features without being

[2018-02-14 23:39] jhildenbiddle commented on #34
Hi @francoischalifour.

Happy to help, and I certainly understand the hesitation with accepting a PR and claiming IE support without further testing.

Releasing a separate IE version seems like a lot of (arguably unnecessary) work, and as time marches on the need for this will only decrease. My goal is not so much to add support for older browsers but to prevent medium-zoom from breaking apps unne

[2018-02-15 01:44] tuelsch commented on #27
How about applying the new sizes attribute (something like `sizes="100vw"`) after the image has been zoomed? This way the animation would be smooth. The zoomed image might be blurry at first, but will be replaced by the appropriate sized image after download.

Another approach would be setting the sizes attribute immediately, wait for the image to download, then animate but I'm not sure if it's po

[2018-02-16 16:00] francoischalifour commented on #34
Thanks for these perspectives, you definitely got a point.

I switched the discussion to the PR #35.

[2018-02-23 02:45] selfagency opened #37 "overlay and image divs appended before closing body tag"
so this is weird—

[code]

when i click on an image, my specified container is completely ignored and the overlay and image are inserted before the closing body tag. the image is also repeated twice.

![screenshot 2018-02-22 21 41 52](https://user-images.githubusercontent.com/2541728/36575548-7f171cfa-1819-11e8-9d10-b34012a2b2d0.png)

[2018-02-26 17:22] francoischalifour commented on #37
Hi @selfagency, did you style your `#zoom-container`? You need to specify its dimensions with CSS attributes. Also, note that you don't need the parentheses around your selector.

If you need further support, please provide a reproducible example on [Codepen](https://codepen.io/) for example.

[2018-02-26 17:32] mimamuh opened #38 "HD image doesn't scale the first time on Firefox"
Hi,

I found a issue on FF 58 (not sure if it applies for later versions too). When I use a `data-zoom-target` for my image and click it – on the first click medium zoom does not scale the image up to the size of the dynamic loaded image instead it uses the smaller dimensions of the `src` image.

On the second click it uses the proper dimensions.

Reproduction:
Code: [Codesandbox.io](https://codes

[2018-03-02 09:15] francoischalifour commented on #38
Hi @MiMaMuh, thanks for reporting. The HD feature will be rethought and reimplemented from scratch at some point, see #27. I can't tackle this for now though.

[2018-03-04 19:48] #34 closed

[2018-03-04 20:05] #30 closed

[2018-03-09 13:15] #37 closed

[2018-03-16 16:47] johnpyp commented on #30
Is it possible to make mediumZoom work with dynamically loaded images/dom elements?

[2018-03-16 17:18] francoischalifour commented on #30
See #24 for a similar question.

It should be possible, depending on your use case. If you're looking for an `attach()` method, there is none at the moment.

[2018-04-01 22:53] dimitrieh opened #48 "Nuxt example"
I saw the example for vue, but was unable to get this working for Nuxt 🤔

Is anybody willing to help with this? If so I think this would make a welcome addition to the examples page :wink:

The closest I got was with a bit of code taken from https://github.com/simonhermann/mi-museum/blob/master/plugins/global.js

[code]

However this isn't functioning correctly ...

[2018-04-02 08:54] francoischalifour commented on #48
It sure would be a nice addition! I've never used Nuxt unfortunately.

I reckon it should work as expected if it functions for `mi-museum` plugin system.

Can you give more information as to what doesn't work correctly?

[2018-04-03 08:32] simonhermann commented on #48
Hi :wave:

Previously I had the Problem that medium-zoom was applied multiple times, because the mixin is called on every mounted component (I have to do this for dynamically built page). This lead to multiple zoomed images and multiple overlays and was really sluggish.

Really easy but perfectly working soution:
[code]
This checks if the `.medium-zoom-image` class is applied already and skips the

[2018-04-03 09:32] simonhermann opened #50 "[feature request] support browser back+forward buttons"
Since images open in a fullscreen view, users'd expect the browsers back button to bring them back to non-zoomed state.
I found this is especially true on Android, intuitively using the back button all the time.

[Browser history Api in MDN](https://developer.mozilla.org/en-US/docs/Web/API/History_API)

[2018-04-03 10:05] francoischalifour commented on #48
That's a great workaround indeed!

I don't think it is necessary to add to the core for now. However, as this is a recurring issue, I will document this solution in the README for those facing the same issue. Thank you @simonhermann!

@dimitrieh Try to use this instead: `mediumZoom('#app img:not(.medium-zoom-image)')`. Let me know if it doesn't solve you're issue.

[2018-04-03 11:03] dimitrieh commented on #48
@francoischalifour yes this worked perfectly! 👍 thanks!

[2018-04-03 11:30] francoischalifour commented on #48
Awesome! Closing since that was your issue 🙂

[2018-04-03 12:04] dimitrieh commented on #48
@francoischalifour I do seem to get a lot of

[code]

When doing a generate command (although it succeeds) 🤔 any ideas?

[2018-04-03 16:07] francoischalifour commented on #48
I'm afraid it's outside of the scope of `medium-zoom` but `moment.js`. I suggest you can read [some of these responses](https://stackoverflow.com/questions/39601389/vue-js-and-vue-moment-failed-to-resolve-filter-moment).

[2018-04-03 19:01] francoischalifour commented on #50
That's an interesting feature, thanks!

I wonder if this behavior is expected from most users. Adding some sort of router option could be possible to support this.

I don't want to drift from the original intent of this library though: providing the same user experience as Medium's zoom.

If you really believe in such a feature, I suggest you hack a little POC either:

* from the source code (send

[2018-04-13 15:04] garviand opened #52 "SVG images shrink instead of expand"
Love the plugin, thanks for all of your work.

I have a mix of SVGs and PNGs on my site, and the PNGs are expanding beautifully, but when the SVG images are clicked they actually get smaller.

Let me know if you have run into this before.

[2018-04-13 17:53] francoischalifour commented on #52
Hi, are you talking about an `img` element having a SVG as a source (`src`)? (as opposed to an actual [`svg`](https://developer.mozilla.org/en-US/docs/Web/SVG/Element/svg) element)

The library hasn't been thought with this in mind. I'm not sure how different the `img` element behaves with a PNG and a SVG.

I will investigate in the next days or if you want to get involved, feel free to do so 🙂

[2018-04-14 15:28] francoischalifour commented on #52
I reproduced this issue [in a sandbox](https://codesandbox.io/s/82llzv0980).

The reason of this behavior is because a SVG doesn't handle its `naturalWidth` and `naturalHeight` the same way as a PNG or a JPG.

Since a SVG cannot pixelize, a solution could be to consider that its full size is the screen size. You could then adjust the zoom with margins.

What do you think @garviand?

[2018-04-15 10:04] tuelsch commented on #33
I could imagine a similar fix for this problem as just PR'd for `srcset`. I never had the pleasure to work with art directed picture elements so I'd actually like to see a more or less complicated example to test with. Can you post something, @MiMaMuh ? Maybe there is a way to just let the browser decide which image to load. Just taking the fallback `<img>` would be a feasible option too, I believ

[2018-04-15 14:13] MiMaMuh commented on #33
@tuelsch I made a simple example on [codesandbox.io](https://codesandbox.io/s/r7q0zx2v8o) for you. I coloured the three images. Each image has a different dimension as it is common when using art directed images. And to see the problem arise, I added a text, a square and a circle and of course different colors to show what the issue would be in [such an case.](https://codesandbox.io/s/r7q0zx2v8o)

[2018-05-03 10:04] simonhermann opened #57 "[suggestion] add mousedown/touch feedback"
It would be great to have some feedback when clicking/tapping the image.
Essentially what the CSS :active pseudo class does, but unfortunately it is not available on img tags.
Usually images are passive elements, so that's okay, but with this great script they become active.

My idea was adding a class like `medium-zoom-image--active` with js `mousedown` and removing it on `mouseup` - essentially

[2018-05-03 10:13] simonhermann commented on #57
false alarm.
:active actually does work on img. sorry!

[2018-05-12 12:01] francoischalifour commented on #57
Glad you found a solution to your issue!

[2018-05-12 12:01] #57 closed

[2018-05-14 16:57] mathisGarberg opened #58 "Angular example?"
I've seen examples in both Vue and React, but Angular is missing. Is it possible to use Medium-zoom in Angular? Would be great!

[2018-05-15 21:02] francoischalifour commented on #58
I'm not proficient with Angular but you can find [this example I built on CodeSandbox](https://codesandbox.io/s/lly4y7kz5q). Check `src/app/app.component.ts`.

[code]

Hope this helps!

[2018-05-15 21:02] #58 closed

[2018-05-16 22:37] francoischalifour commented on #58
Did you install `medium-zoom` in your project?

[code]

[2018-05-17 06:34] cwang22 opened #59 "Add lazy-load support"
Hi, great work and loved it 👍

would you consider add lazy-load support?

e.g. provide an option to bind the event listener on the selector instead of the <img> itself, so it works for lazy-loaded images?

Thanks.

[2018-05-17 16:09] mathisGarberg commented on #58
Yes. I used `npm install --save medium-zoom`.

[2018-05-25 07:36] francoischalifour commented on #59
Hi there, I don't think this is the responsibility of this library.

If you use another library to lazy load your images, you can dynamically apply the zoom to the images once they're loaded.

Does that make sense?

[2018-05-25 07:37] gitrequests opened #60 "Next/Prev image feature?"

[2018-05-26 10:26] cwang22 commented on #59
yeah, didn't think this way, thanks

[2018-05-26 10:27] #59 closed

[2018-06-02 19:46] rawthriver commented on #38
Subscribing. Like this plugin. Great if this issue will be fixed.

[2018-06-05 20:06] andreyhideki commented on #58
i'm test including in my project and have this same error ERROR TypeError: mediumZoom is not a function.

[2018-07-28 13:30] #52 closed

[2018-07-28 13:46] #27 closed

[2018-08-14 17:00] artemartemov opened #69 "Screen size / breakpoint margins"
## Setting different margins on mobile devices vs larger screens

## Implementation

[2018-08-21 16:15] btlewan commented on #52
The natural width of SVG images varies across browsers, because they don't use the viewbox settings for sizing purposes. Even with commit 104f18b, zoomed SVGs appear smaller in Chrome than unzoomed images (unless they're smaller than 300x150).

I think it would be better to use the viewport width/height for SVGs in all cases. I'll see about creating a PR to that effect.

[2018-08-22 09:27] francoischalifour commented on #52
The referenced commit should solve this issue since it's based on the viewport. You can check the behavior on [this story](https://medium-zoom.francoischalifour.com/storybook/?selectedKind=SVG&selectedStory=default&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Fnotes%2Fpanel).

Note that I haven't released it yet.

[2018-08-28 13:45] #38 closed

[2018-08-28 13:59] francoischalifour commented on #38
:tada: Medium Zoom 1.0.0 fixes this bug @mimamuh and @rawthriver!

[Check the release →](https://github.com/francoischalifour/medium-zoom/releases/tag/1.0.0)

[2018-08-29 13:06] rungta opened #71 "1.0 intercepts all click events"
On upgrading to the recently released 1.0 version, regular links have stopped working.

## How to reproduce

1. Add a link to a URL somewhere in your HTML
1. Run `mediumZoom('img')`
1. Click on the link
1. Page does not navigate to the URL

## Reproducible example

https://codesandbox.io/s/r7rw0qr6l4

## Environment

 - Browser: Chrome
 - `medium-zoom` version: 1.0.0

[2018-08-29 14:48] #71 closed

[2018-08-29 14:50] francoischalifour commented on #71
Fix released in 1.0.1. Thank you for reporting!

[2018-09-19 23:56] btlewan commented on #52
I've just tried the released version, and it works! Thanks very much for the update.

[2018-09-22 19:06] edwardhorsford commented on #69
I just came here with this exact question.

Might I suggest adding this example to the docs? I'm not a developer and this solution wouldn't have occured to me.

[2018-09-22 19:47] edwardhorsford opened #74 "Feature request: max-width option"
I'd like to suggest adding a max-width option to limit the size of the images - particularly on wide screens.

## The problem

I prefer a margin on my images. The current margin option works on medium screens, but not on large ones. I can set a 200px margin that looks good up to ~1500px or so, but when screens are larger, I don't want the image to continue to expand - I'd prefer it have a maximum

[2018-09-22 21:28] edwardhorsford opened #75 "Zoomed images cause overflow"
## Bug description

If you zoom an image with 0 margin and scrollbars enabled, the resulting image is too wide by the width of a scrollbar and causes a horizontal scrollbar to appear.

This causes two issues:
* Unnecessary scrollbar
* Part of the image isn't shown

Here's a gif from the demo site:
![medium-zoom-overflow-bug](https://user-images.githubusercontent.com/2204224/45921844-68b74780-beb5-

[2018-09-28 09:17] chiragbhansali opened #76 "Support for Background Images"
## Bug description
The zoom effect doesn't work with background images.

## How to reproduce
Try using a background image and initializing it in the JS

1. Run `mediumZoom(selector, options)`
1. Click on the image
1. See error

## Expected behavior

Zoom will work with background images

## Environment

 - Browser: Firefox 63
 - `medium-zoom` version: 1.0.2

[2018-09-28 21:25] k1ng440 opened #77 "inline svg"
## The problem
mediumZoom('#svg-element') does not work

we are using mermaid in our docute, we would love to have this working

## Solution
Add inline SVG support

[2018-09-30 16:29] francoischalifour commented on #60
Glad you worked your way around with the current API, @tasinttttttt.

I also developed a plugin for previous and next images. However, it needs more testing. I don't have an ETA yet.

[2018-09-30 16:41] francoischalifour commented on #75
Thank you for reporting this bug!

I think this issue appears because we rely on `window.innerWidth` and `window.innerHeight` when retrieving the viewport size. We should rather rely on `document.documentElement.clientWidth` and `document.documentElement.clientHeight`, which ignore the scroll bar ([see corresponding lines](https://github.com/francoischalifour/medium-zoom/blob/master/src/medium-zoo

[2018-09-30 16:52] francoischalifour commented on #74
This is the first time having this feature request – I don't think it's worth having it in the library itself.

To solve this issue, you can either use a custom template or add break points to the margin option (see #69).

[2018-09-30 18:05] edwardhorsford commented on #74
Thanks for the reply! I think it's possibly more noticable for me because I work on a large monitor with a wide viewport.

Unless I'm misunderstanding, having the image stay at a fixed size is not possible with margins and breakpoints without doing a breakpoint for *every* resolution. Otherwise the image will continue to grow in steps.

I'll take a look at the custom templates.

[2018-10-12 16:46] weranda commented on #75
I fixed it like this (with jQuery):

[code]
I don't know, correct it is or not, but it works.

[2018-10-14 12:04] edwardhorsford commented on #75
@francoischalifour Thanks for the suggested fix. I've [made on a fork](https://github.com/edwardhorsford/medium-zoom/commit/53b76dffa8e588494dcb48a4f20bff1ce4c361c6) and it seems to work. However I think the requirements for the contribution guidelines are beyond my abilities. Happy to PR for the two lines of changes, but won't be able to add tests.

[2018-10-14 17:50] edwardhorsford commented on #60
I'd really love some way of doing this without opening and closing the viewer.

[2018-10-15 08:43] francoischalifour commented on #60
@edwardhorsford What do you mean by "without opening and closing the viewer"?

[2018-10-15 08:44] francoischalifour commented on #75
Feel free to send the PR, I'll take care of the rest!

[2018-10-15 09:58] edwardhorsford commented on #60
@francoischalifour In @tasinttttttt's implementation, when you press an arrow key, they first call `zoom.close` on the existing item and then `zoom.open` on the next item. This causes Medium-zoom to close, animate the image away, then animate the new image in to place.

My expectation / hope is this works closer to a lightbox - pressing an arrow key swaps the image in place - no animations.

[2018-11-04 17:45] #75 closed

[2018-12-18 15:05] DrianHillman opened #81 "WebpackError: ReferenceError: window is not defined"
## Bug description

👋🏽Hello! I've included this library as part of a Gatsby & React project, however my build fails when I import this package.

Step 1 of the **Usage** section is a simple `import mediumZoom from 'medium-zoom'`. When I add this import to the top of my JS file my build fails with the following response:

[code]

It looks like this is a common error where there's no `window` server-

[2018-12-19 10:57] francoischalifour commented on #81
Hey, thank you for the bug report. I'm not sure how to make the library SSR safe on my side. Did you try importing `medium-zoom` conditionally? Something along those lines:

[code]

[2018-12-19 21:35] DrianHillman commented on #81
Hey @francoischalifour, thanks for pinging me back! I think we're on the right track and a solution like this would work. So far so good in my tests, but does the api then change in any way if using a `require`?

I've had to use `mediumZoom.default('img.class')` to get the function to fire. But when it does execute it's having difficulty closing & not functioning smoothly.

Here's a quick deploy t

[2018-12-20 08:37] francoischalifour commented on #81
Indeed, I made a mistake in the code snippet (I updated it). When using `require`, you need to access the library with `default`. You can then use `mediumZoom` as usual.

Note that your images are heavy – the browser seems to struggle a bit on first load. I would recommend cropping them a little bit and compressing them. If you want to reduce the latency at first zoom, you can preload the images.

[2018-12-22 17:56] francoischalifour commented on #81
I gave it a try @DrianHillman and my recommendation would be to use a [dynamic import](https://developers.google.com/web/updates/2017/11/dynamic-import):

[code]

[2018-12-23 21:42] DrianHillman commented on #81
🎉 This is now working **beautifully**, François — thanks for helping troubleshoot!
@francoischalifour

[2018-12-23 21:45] #81 closed

[2019-01-14 05:54] caseydev opened #83 "Not working properly on my side"
Its cool plugin. Thanks mate

## Bug description

But when i tried i got issue like this.
![image](https://user-images.githubusercontent.com/4696688/51098093-a9cec100-17f0-11e9-8410-d763b403025f.png)
There is media-zoom class initialized but with hidden . Please can you tell me where did i wrong?

Here is my code
` renderQuestionElement() {
    //store a this ref, and
    var _this = this;
    //w

[2019-01-14 09:11] francoischalifour commented on #83
Can you please reproduce the issue [in this sandbox](https://codesandbox.io/s/github/francoischalifour/medium-zoom/tree/master/examples/vanilla) and send the link back? It would make it easier to debug your use case.

[2019-01-21 00:30] chrisjansky opened #91 "Destroy/stop method"
Hello,
nice work on this library! I am looking for a way to stop the plugin from firing more events right after opening the zoom window — I'll fade it out and destroy manually after a new page is loaded in the background.

Something like:
[code]

I tried detaching, but that "too cleverly" closes the modal before that, I really just want it to stop listening to any events (and stay opened).

Thanks

[2019-01-21 09:16] francoischalifour commented on #91
Can you please explain what feature you're trying to build (the _why_)? Checking if we can find a workaround with the current API.

[2019-01-21 17:37] chrisjansky commented on #91
Here's a screencapture of what I needed to accomplish: https://www.dropbox.com/s/s4i4337kr6tv4pd/zoom-page-transition.mp4?dl=0

Basically use medium-zoom as a page transition, once the zoom is opened, destroy the instance and remove the HTML in a clean manner and show the new page that loaded beneath.

I ended up coding it myself, so you may close this issue if you think the API does not need chan

[2019-01-21 18:24] #91 closed, assigned to nobody

[2019-02-09 16:49] francoischalifour commented on #83
Closing for inactivity. Feel free to reopen!

[2019-02-09 16:49] #83 closed

[2019-03-09 01:15] allaire opened #92 "Wrong dimension on retina display"
## Bug description

On a retina display, with both `srcset` and `data-zoom-src` on the image, the dimensions are wrong on the zoomed image (the image is the same size the unzoomed image). I expected that the zoomed image would be the one in `data-zoom-src`.

[code]

If I remove the `srcset` attribute, the image is correctly sized. This only happen on a retina display,

I saw #27 was similar to my

[2019-03-14 17:39] benface opened #93 "Allow zooming further with pinch gesture on mobile devices"
## The problem

Trying the example at https://medium-zoom.francoischalifour.com on iOS Safari and trying to zoom further on "zoomed images" (images you clicked on) with the commonly used pinch gesture triggers the scroll event and "unzooms" the image. The browser zoom still works, allowing the user to zoom on "unzoomed images" but those images are usually lower resolution, so it defeats the purpos

[2019-03-20 10:43] meteorlxy opened #94 "Access window and documents in function scope"
## Bug description

In v0.4.0, we only try to access `window` / `document` in the function scope, i.e. all related code is wraped in the `mediumZoom` function:

https://github.com/francoischalifour/medium-zoom/blob/8617c954d5690de3c692560e7ddcc02016c232ac/src/medium-zoom.js#L29-L39

In v1.x, we access `window` / `document` outside the `mediumZoom` function:

https://github.com/francoischalifour/me

[2019-03-20 11:00] francoischalifour commented on #94
Thanks for filing an issue.

There's a simple fix to this without actual tradeoff so we might actually want to add support for SSR here.

Would you mind opening a PR?

[2019-03-20 11:09] meteorlxy commented on #94
With pleasure 😄

[2019-03-21 20:28] #94 closed

[2019-03-24 14:02] knynkwl commented on #59
I feel like some type of image loaded event would be nice.

If the image is large then it would be nice to set a loading class and only open the modal when the image has loaded. I am running into problem where the image is large and the modal shows with the thumbnail not expanded, then a second or two later the image will expand.

[2019-03-24 18:01] francoischalifour commented on #59
To avoid the loading time, you can preload the large images when the thumbnails enter in the viewport. You can use the [Intersection Observer API](https://developer.mozilla.org/docs/Web/API/Intersection_Observer_API) for this. I don't think this should be part of Medium Zoom because it becomes too opinionated. Besides, it is not very hard to implement on user-land.

I made an example [on this sand

[2019-03-25 13:20] knynkwl commented on #59
This can work. A plugin system would be awesome though!

[2019-03-25 13:57] knynkwl commented on #33
I'm running into a similar problem. I have 1:1 square thumbnails, but want the HD image to respect the dimensions of the actual image. Instead when clicking the thumbnail, I get a 1:1 HD image.

[2019-04-12 23:29] ksnyde commented on #77
I have exactly the same desire. I'm using Mermaid and the SVG's would really benefit from some zoom.

[2019-04-13 10:50] tuelsch commented on #93
Can a pinch gesture be detected by inspecting the `event.touches >= 2` property? This means that two or more fingers/pointers are involved.

[2019-04-16 20:36] francoischalifour commented on #93
I haven't dug very much into the behavior but I think that the issue comes from somewhere else.

We dismiss the zoom when (simplified):

- The zoomed image is clicked
- The scroll position exceeds the original scroll position + the offset (40px by default)

My assumption is that when you pinch the image, the scroll position changes, causing the zoom to be dismissed.

We would therefore need to add

[2019-05-07 04:52] marsjaninzmarsa commented on #60
Or even better - with simple slide animation. 🤩

[2019-05-10 14:01] swergas commented on #76
I think he wanted to say that he would like medium-zoom to support zooming images that are defined using the `background-image` CSS property of any HTML element (instead of only `img` elements).

[2019-05-13 11:35] francoischalifour commented on #76
Oh, I see. What's your use case?

[2019-05-28 16:52] swergas commented on #76
My use case is the customization of a page that I have generated using https://grapesjs.com. GrapesJS shows cards that contain images set as `background-image`.

[2019-05-30 01:01] iammatthias commented on #60
Pagination would be great. I wouldn't mind replacing React-Images in the image gallery with medium-zoom if there was a way to easily go between images.

[2019-06-03 03:22] chiragbhansali commented on #76
I would like to use this on [https://blendy.ml](https://blendy.ml). There are multiple `<div>`s that contain images set as `background-image`.

[2019-06-13 14:35] tjbenton commented on #92
here's a workaround for this bug until it get's fixed

[code]

[2019-06-19 14:44] kaYcee commented on #33
Thanks for putting so much effort into this lib! Unfortunately, we have the same zoom issue. We are confined to a certain thumbnail aspect ratio and use `object-fit: contain` to make sure parts of the image fit into the thumbnail. The library seems to use the window dimensions to determine the zoomed image's width and height, leading to a distortion of the zoomed image. Is it possible to always us

[2019-06-30 15:04] borisirota opened #102 "Improve the perceived performance when using HD images"
## The problem

When using different images (default and HD via `srcset` or `data-zoom-src`), after the user clicks the image in order to zoom, the screen pretty much freezes and he has to wait until the HD image was downloaded for the scaling animation to begin.

## Solution

Use the regular flow when the user clicks on image in order to zoom and switch between the default and HD images only afte

[2019-06-30 15:54] francoischalifour commented on #102
Thanks for opening this issue.

The challenge with scaling a low-quality image before having the HD image loaded is that there's no way to know where the image should be positioned. This is because we don't know in advance the size of the HD image. The only information that we can guess is the ratio, which still might change from the low-quality image.

There are already strategies put in place to

[2019-06-30 22:57] borisirota commented on #102
I see. I haven't thought about the lack of info. My HD images are always the same ratio as the default ones and fill the whole available area so I don't face the issues you mentioned.

I'm using the preload alternative currently, which is not the optimal solution but it does the job.

Thanks u for the quick reply :)

[2019-06-30 22:57] #102 closed

[2019-07-31 19:14] birjolaxew opened #110 "If original image has a transition, zoom becomes uncloseable"
## Bug description

If the image used for the zoom has a `transition` applied in its `style` attribute, the zoom will happen (but without animating the `transform` of the zoom image) but will be uncloseable since `medium-zoom` never sets `isAnimating = false`.

This is because `medium-zoom` listens for the `transitionend` event, with no fallback. Since the target element is copied to create the zo

[2019-08-01 11:26] birjolaxew commented on #110
@francoischalifour I am fairly certain this is a bug, not an enhancement ;)

[2019-08-01 11:58] francoischalifour commented on #110
Thanks for the report.

Depends on the way you see it haha. It's a case that is not handled, but the library works as expected on more common use cases.

Anyway, supporting this will probably make the code more complex and add some bytes to the final bundle. Feel free to open a PR to see this case supported so we can discuss about it being part of a next release.

[2019-08-01 14:24] birjolaxew commented on #110
@francoischalifour There are generally two ways to fix this, neither of which is particularly complex: you can either add `!important` to the transition you define in your stylesheet (in which case it still breaks if the user adds a `transition: ... !important`, but y'know, that's pretty edge case), or you can explicitly set the transition on the cloned element `active.zoomed.style.transition = "t

[2019-08-12 17:32] oktu opened #112 "Is it possible to change the opacity of the overlay background?"

[2019-08-12 21:10] francoischalifour commented on #112
You can give any color to the background, including an `rgba` value with a specific opacity:

[code]

[2019-08-12 21:10] #112 closed

[2019-08-20 08:48] gapplef opened #113 "Disable popup for images with link."
Hexo  theme [`NexT`](https://github.com/theme-next) provide `medium zoom` support.
After enable  medium zoom in my hexo site, I encounter a problem for image with link.
Normally, for small images or icons with link, user will be redirected to the linked webpage when clicked, and popup of the image is not expected.
Before tryout `medium zoom`, I use `fancybox`. Everything work as expected and image

[2019-08-20 12:21] gapplef commented on #113
@francoischalifour  Thanks for you help!
Sorry, I am not familiar with CSS.
In my case, the image is in the post body. It's a start page I used for the mobile browser, and image are the icons of favorite pages. You may see it [here](https://weibo.yelf.me/start/)
The page is written in markdown, and generated by `hexo`. Currently, I am using `fancybox`, and everything works fine. How can I get the

[2019-08-20 12:21] gapplef commented on #113
@francoischalifour Thanks for your help!
Sorry, I am not familiar with CSS.
In my case, the image is in the post body. It's a start page I used for the mobile browser, and image are the icons of favorite pages. You may see it [here](https://weibo.yelf.me/start/).
The page is written in markdown, and generated by hexo. Currently, I am using fancybox, and everything works fine. How can I get the sam

[2019-08-20 17:03] francoischalifour commented on #113
This should work:

[code]

[2019-08-21 01:57] gapplef commented on #113
Problem fixed, thanks a lot!

[2019-08-21 06:59] #113 closed

[2019-08-27 16:25] tomrndom opened #143 "Images with modified sizes are zoomed in with wrong proportions"
## Bug description

I was working on a gallery that has images in the same row that occupy the 100% of the screen. These images are inside a flex container, and had a `data-zoom-src` with the full size picture, but when it's zoomed in, the pictures are shown with weird proportions.

## Expected behavior

Images should be zoomed in with the proportions of the `data-zoom-src` image provided.

## Rep

[2019-09-01 16:47] gapplef commented on #113
@francoischalifour I encounter a problem with the solution.
The post of my Hexo blog are written in markdown. Image can be insert with markdown syntax or html `<img>` tags.
After addd `:not(a) >`, all images insert with html `<img>` tags are not processed by Medium Zoom.
Any idea what wrong here?

[2019-09-10 08:35] gitldy1013 opened #144 "vuepress中配置后无效 且没有错误信息"
我的配置如下：

 plugins: {
        '@vuepress/medium-zoom': true
    },

[2019-09-16 00:11] francoischalifour commented on #144
It seems like this issue is related to the Vuepress integration itself. Please report it to [vuejs/vuepress](https://github.com/vuejs/vuepress).

[2019-09-16 00:11] #144 closed

[2019-09-16 02:29] gitldy1013 commented on #144
thanks.I've settled it.

[2019-09-29 09:02] JoeyBling commented on #113
why i use `:not(a) img` inoperative,
I want to disable all imgs under the a tag including recursion

[2019-09-29 09:05] JoeyBling commented on #113
[code]
Only for the first layer,not recursion

[2019-11-12 22:56] X-Ryl669 opened #145 "Large image never zoom to native size"
Let's say you have an image that's 3200x2600 (very large). If you use the current plugin with a screen that's smaller than this, the picture will show as a thumbnail (expected and good).

However, once zoomed, it'll only fill the current viewport and does not allow zooming further to the native size. If the initial viewport was close to the window size, the zooming effect does not enlarge anything

[2019-11-15 22:09] selfagency opened #146 "Image appears outside zoom container"
## Bug description

`.medium-zoom-overlay` is being added at the same moment as `.medium-zoom-image`, and therefore the image is being placed outside of the container.

![Screenshot 2019-11-15 16 59 47](https://user-images.githubusercontent.com/2541728/68978738-9eaa4000-07c9-11ea-8f38-2093b9a1efee.png)

![Screenshot 2019-11-15 16 59 58](https://user-images.githubusercontent.com/2541728/68978744-a3

[2019-11-17 17:31] francoischalifour commented on #146
The zoom container could be misconfigured here. Do you have a code snippet (HTML + JavaScript) of the issue?

[2019-11-18 01:56] selfagency commented on #146
[code]

[code]

[2019-11-18 08:19] francoischalifour commented on #146
I realize now that what you call "container" is the overlay HTML element. This element is expected to _not_ contain the image, since it's used to add a background to highlight the zoomed image. You can see that on the [official demo](https://medium-zoom.francoischalifour.com/). This is therefore the expected behavior.

Is there an issue with this behavior on your website?

[2019-11-26 20:31] nikocraft opened #147 "images in a row with hardcoded height, look bad when zoomed in"
## Bug description
Images in a row do not look correctly when zoomed, they look croped and with wrong proportions.

## How to reproduce

html markup
img src="/uploads/2019/11/25/img_01.jpg" class="lightbox"
img src="/uploads/2019/11/25/img_02.jpg" class="lightbox"
img src="/uploads/2019/11/25/img_03.jpg" class="lightbox"

img css
img
    object-fit: cover;
    height: 300px; <--- this seems to be

[2019-11-27 09:20] francoischalifour commented on #147
Hey there – a way for Medium Zoom to understand which height to reset is to change the way the style is applied to the image. Do not apply the style with `.images-block-image img` but rather attach a class to the images themselves.

You can find a working example [in this sandbox](https://codesandbox.io/s/medium-zoomvanilla-example-sdc5y).

The reason why you don't want to target the image with `.

[2019-11-27 09:20] #147 closed

[2019-11-28 23:12] nikocraft commented on #147
@francoischalifour

I did what you suggested, the image that pops up is slightly better but your plugin clips it now, its not whole.

![image](https://user-images.githubusercontent.com/443080/69834741-9f68ba80-123c-11ea-893a-143782c9fac9.png)

while this is the real size of the image:

![image](https://user-images.githubusercontent.com/443080/69834750-b0b1c700-123c-11ea-87f6-5f06eec0bb00.png)

her

[2019-11-28 23:15] nikocraft commented on #147
@francoischalifour

your example has the same problem. Images real size is not respected, but they are clipped. My hope was that plugin would be able to go from whatever thumbnail size was to real size of the image.

Is this something that would be technically possible with your plugin? If you could do it, what it would cost if I was to compensate you, in case its not a simple fix?

I'd really lik

[2019-12-04 04:33] seaneking commented on #110
I'm also seeing this, in my case with a 3rd party library (`gatsby-image`) where I have no control over the transitions defined. Either one of the patches mentioned by @birjolaxew would be great, even as opt-in behaviour

[2019-12-07 20:27] francoischalifour commented on #110
Thank you all for your interest in this issue.

I rather lean toward the CSS fix with `!important` because people could already be relying on the CSS classes. Adding the transition in JavaScript could be a breaking change in some cases.

You can expect this issue to be fixed in v1.0.5.

Meanwhile, you can override the `medium-zoom-image` CSS class in your apps so that it doesn't collide with other

[2019-12-07 21:05] #110 closed

[2019-12-07 21:16] francoischalifour commented on #110
Released in [1.0.5](https://github.com/francoischalifour/medium-zoom/releases/tag/1.0.5) 🎉

[2019-12-26 11:01] zmts commented on #60
@tasinttttttt tnx for snippet! Works fine!

[2020-02-06 22:43] heybourn opened #149 "Unable to use in a slider with custom zoom button"
## Bug description

I'm using Vue, Vue Awesome Swiper and Medium Zoom. I've also created a custom zoom button which sits somewhere on my page.

Clicking my zoom button will only open the first slide in the carousel, even after swiping. I've tried to use active slide selectors, destroy methods and adding the zoom on slide change - however I've had no luck.

## How to reproduce

1. Create a Vue proj

[2020-02-07 08:36] francoischalifour commented on #149
Thanks for opening the issue.

Could you please provide a reproducible example in this [Vue + Medium Zoom sandbox](https://codesandbox.io/s/github/francoischalifour/medium-zoom/tree/master/examples/vue)? It'll be easier to understand what you've tried and how to find a solution.

[2020-02-13 18:24] kerns opened #150 "Creating a NYT-Style Theme for Medium Zoom"
It would be really great if someone took up the challenge of creating a theme for medium zoom based on the NYT's image zoom. Not sure if it's possible, but I would love to do any of the UI and CSS work needed and think it would be a great edition.

That means adding a close button and displaying a caption beside the image in a flex container.

![2020-02-13 19 09 26 2](https://user-images.githubuse

[2020-02-14 00:50] francoischalifour commented on #150
The [Dropbox Paper example](https://github.com/francoischalifour/medium-zoom/tree/master/examples/dropbox-paper-template) is really similar to this. You can get inspiration from that!

[2020-02-14 12:56] kerns commented on #150
Thanks! but I'll disagree that it's so similar as to make a new NYT-inspired theme redundant. The Dropbox Paper theme disables dismiss-via-scroll, ...and it doesn't port any data associated with the image over to the zoomed state.

I was actually fishing for someone who might want to help make it, ...but didn't want to tackle the tedious parts of UI and CSS animation that I was able to contribute.

[2020-02-14 13:40] francoischalifour commented on #150
I see, I didn't get the original intent.

At this stage I would suggest defining clearly what the Medium Zoom theme should do, and then start an implementation as a PR so that people can contribute to improve it?

[2020-02-14 17:46] kerns commented on #150
Thanks. I will try this. Please be patient with me as I proceed to screw it up. But maybe we can get there with it eventually.

[2020-02-17 22:15] #149 closed

[2020-03-20 12:25] tobiaseichert opened #151 "Safari for iOS: Scaled up image is blurry regardless of original image size"
## Bug description

When you scale up an image using medium-zoom, the resulting scaled image will be blurry.

## How to reproduce

Please have a look at my [comments](https://bugs.webkit.org/show_bug.cgi?id=27684#c34) (including various examples) on bugs.webkit.org.

## Expected behavior
The resulting image should be sharp.

## Reproducible example

To verify, open this example on
https://3zive.cs

[2020-03-21 16:09] moujikov commented on #151
An iOS Safari issue discussed here seems to be related: https://stackoverflow.com/questions/57952702/image-is-blurry-when-upscaling-in-mobile-safari

[2020-04-02 23:34] kfeng0806 opened #152 "Add an option to use custom class for zoomed image"
## The problem

I'd like to add custom style to the zoomed image, is there possible to add an option for zoom image.

For example:
[code]
The result will be:
`<img src="image.jpg" data-zoom-src="image.jpg" class="medium-zoom-image medium-zoom-image--opened class1 class2 class3">`

[2020-04-03 07:34] francoischalifour commented on #152
Can't you add styles to `.medium-zoom-image--opened`?

[2020-04-03 08:29] kfeng0806 commented on #152
some time you only wish add style in some scenes
e.g.: i have user avatar on the page it has rounded border, so i like the zoomed avatar image also has consistent style but except other images.

[2020-04-08 23:45] damirkotoric opened #154 "Is there a way to add `video` support?"
Great library. I'd love to do the same effect but for videos. Is there a way of doing this?

[2020-04-09 13:25] damirkotoric commented on #143
I find that adding the following helps:

`.medium-zoom-image--opened
    object-fit: contain`

[2020-04-09 13:27] damirkotoric commented on #151
In my situation the following helped fix that:

`.medium-zoom-image--opened { object-fit: contain; }`

[2020-04-09 13:48] moujikov commented on #151
I've just given it a try: no changes for me, still blurry on iOS 13.3.1

_Just a guess: Remote debugging may force Safari to re-render the image correctly. Were you remote debugging by any chance?_

[2020-04-10 01:00] damirkotoric commented on #151
No I wasn't remote debugging in Safari. My blurriness might have been caused by https://github.com/francoischalifour/medium-zoom/issues/143.

[2020-04-10 07:50] tobiaseichert commented on #151
Just a quick heads-up: there's a simple script which basically does the same as medium-zoom. Despite having fewer options it also doesn't exhibit the problem described above. You can find it here:

https://github.com/spinningarrow/zoom-vanilla.js

I have yet to find the difference which results in non-blurred scaled up images, but for now I'm fine with the solution.

[2020-04-12 20:19] francoischalifour commented on #146
Closing for inactivity.

[2020-04-12 20:19] #146 closed

[2020-04-12 20:27] francoischalifour commented on #145
The library aims to display the image in its entirety to fill the viewport, and not to overflow. This behavior therefore seems to be expected. If I misunderstood, could you please reproduce in [this sandbox](https://codesandbox.io/s/github/francoischalifour/medium-zoom/tree/master/examples/vanilla)?

The inability to scroll away might be a bug. Reproducing would help better define expectations.

[2020-04-13 08:24] X-Ryl669 commented on #145
Well, I guess it's a usability issue. In your sandbox, try to use a large picture (like 12MPx one). Once clicked, we should have an option to allow more zoom than the viewport's width, else the zoom effect is useless (it goes from 10 to 12 in the sandbox for me, and I would like it to go from 10 to 100 or so). Once the zoom factor is increased, we should be able to scroll in the picture's frame.

[2020-04-22 23:44] pricop opened #155 "z-index"
## The problem

## Solution

[2020-04-23 08:08] francoischalifour commented on #155
Since we don't want to add to the API for cases where there is an easy fix user-land—in this case, by overriding the CSS—we won't update the library.

[2020-04-23 08:08] #155 closed

[2020-05-20 01:27] mjshea1 opened #156 "Optional Zoom"
## The problem

Is there an option when you add medium-zoom to a vuepress site to disable it on some images within the markdown?

## Solution

The ability to disable zoom on images within a vuepress site.

## Implementation

I don't have an idea of how to implement it.

[2020-05-20 08:34] francoischalifour commented on #156
You'll need to edit the [`selector` option in the VuePress plugin](https://vuepress.vuejs.org/plugin/official/plugin-medium-zoom.html#usage), and add this `no-zoom` CSS class to the images you want to skip.

Example:

[code]

[2020-05-20 08:34] #156 closed

[2020-05-27 10:09] kerns commented on #150
Hoping to tackle it this summer...

[2020-05-27 10:11] kerns commented on #152
This seems like it could be particularly useful in projects where functional css /e.g. tailwind/ are in use.

[2020-05-27 16:14] m1guelpf commented on #33
Has anyone figured a workaround for this yet?

[2020-06-03 09:23] alanpoulain opened #157 "[Firefox] Not working with a responsive and lazy loaded image"
## Bug description

In Firefox, when clicking on an image with a `srcset` attribute and a `loading` attribute set to `lazy`, the overlay loads but the image stays the same.

The overlay cannot be closed because the `isAnimating` variable is `true`.

It's because of these lines:
https://github.com/francoischalifour/medium-zoom/blob/d5f45c58a219e5dcbc546d8ba2fbfc883ec6df3e/src/medium-zoom.js#L378-L3

[2020-06-03 09:34] alanpoulain commented on #157
I've opened a PR to fix this issue.
Please also note this is the default configuration for `gatsby-remark-images`.

[2020-06-04 04:35] Reedo0910 commented on #102
@francoischalifour
Hi, what if I've already received the natural width & height of the HD image from my server, is there a way to prevent the zoom-in animation from "freezing"?
I'd like to load the HD image after the source image zooming in, instead of doing nothing but watching the whole screen freezes.
(In my case, preloading the HD image doesn't fit, because its size is too large. I don't want

[2020-06-04 08:25] francoischalifour commented on #102
We could support two attributes `data-zoom-width` and `data-zoom-height` that indicates Medium Zoom which dimensions should the zoomed image take.

[2020-07-08 15:45] #157 closed

[2020-07-30 11:22] stevenjoezhang commented on #147
`object-fit: cover;` is more like the cause of the issue.

https://github.com/francoischalifour/medium-zoom/blob/e082f9b9c2a254873b82e7613e9eae811c655642/src/utils.js#L54

When the `object-fit` CSS property is set, the `height` and `width` obtained here are not accurate

[2020-09-03 06:16] guangzan opened #160 "Cannot close when used in a container that can be scrolled ."
## Bug description

## Expected behavior

[2020-09-03 08:09] francoischalifour commented on #160
Can you please replicate the behavior in this [sandbox](https://codesandbox.io/s/github/francoischalifour/medium-zoom/tree/master/examples/vanilla)?

[2020-09-04 04:56] guangzan commented on #160
Like this [sandbox](https://codesandbox.io/s/cranky-taussig-oux9g?file=/src/style.css) . Thanks.

[2020-09-04 10:34] francoischalifour commented on #160
This is expected because we append the zoomed image to the `body`, which doesn't have any scroll padding in that case.

As a workaround, you can increase the `body` `height` when an image is zoomed (`.medium-zoom--opened`). I created an example [in this sandbox](https://codesandbox.io/s/winter-silence-0n2s0?file=/src/style.css:452-573).

[2020-09-04 10:34] #160 closed

[2020-09-04 15:03] guangzan commented on #160
Thank you so much .

[2020-09-17 14:29] wzhkobe2408 commented on #154
@damirkotoric  this is the source code in utils.js. If you want to support video, you can try to modify it with
`export const isSupported = node => node.tagName === 'IMG' || node.tagName === 'VIDEO'`

[code]

[2020-10-21 03:05] 623636245 opened #161 "Zoom not woking?"
Is this normal?
![GIF](https://user-images.githubusercontent.com/22848900/96668008-c49e7400-138c-11eb-8840-bd18b765a9fd.gif)
Can't room in/out....
here's my pluginConfig
[code]

[2020-10-21 08:21] francoischalifour commented on #161
Your original image is likely not bigger than the displayed image.

Please redirect to https://github.com/vuejs/vuepress.

[2020-10-21 08:21] #161 closed

[2020-10-26 05:16] awnawnawn opened #162 "Img view node add location"
Can I change the position where the node is added? I want to add it to a node
![Snipaste_2020-10-26_13-12-55](https://user-images.githubusercontent.com/47672657/97136197-6fe46a00-178d-11eb-9f91-3e84045e0e8a.png)

[2020-10-26 09:15] francoischalifour commented on #162
Hey! You can use the [`container`](https://github.com/francoischalifour/medium-zoom/blob/fb3934e562279d5ecfc9da225ae4466aad17c8b9/docs/container.md#rendering-in-a-dom-element) option for this.

[2020-10-26 13:08] awnawnawn commented on #162
My expectation is that the rendered `<div>` and `<img>` should be placed in `#zoom-container` **instead of placed in the child nodes of `<body>`** . Did I make a mistake?
![Snipaste_2020-10-26_21-02-37](https://user-images.githubusercontent.com/47672657/97175860-1d2ba200-17cf-11eb-81a6-5892c7656fd1.png)

[2020-10-26 13:12] francoischalifour commented on #162
Gotcha, my bad. The [zoomed image is appended to the `body`](https://github.com/francoischalifour/medium-zoom/blob/fb3934e562279d5ecfc9da225ae4466aad17c8b9/src/medium-zoom.js#L331) and there's no option for that.

Why do you need to append the image to another DOM element?

[2020-10-26 13:19] awnawnawn commented on #162
I just want to embed it into the expected node to achieve other effects. If not, I will think of other ways, thank you

[2020-10-26 13:19] #162 closed

[2020-11-10 17:56] mckeever02 opened #163 "Image being centered to height of page height and not window height"
I noticed something that I think is related to the fix implemented for Issue #75

In this issue the code was changed from:

[code]

to:

[code]

However, this leads to the image (for me) being displayed off of the screen as it gets positioned to the height of the document and not the screen. When I change it back to `window.innerHeight` it works correctly.

[2020-11-12 10:28] francoischalifour commented on #163
Can you share screenshots of how this works better in your case?

[2020-11-17 07:00] jason-hwang commented on #151
Does this issue is still not solved?
This is the reproduce steps in my case:

1. I assume the width of an original image is `116px`
2. If when I click the image, the `medium-zoom` try to change the scale of the image like this
- Keep the size of the original image: `116px`
- Due to the `transform` property with the `scale` option, the original image looks blurry I think.

[code]
<img width="700" a

[2021-01-08 06:57] qrzbing opened #164 "Is medium-zoom conflict with html style zoom?"
## Bug description

When I want to use `<img src="xxx" style="zoom: 80%;" class="medium-zoom-image">` will cause image in wrong location.

![bug](https://user-images.githubusercontent.com/23500397/103984075-6762d380-51c1-11eb-8cf2-fb6ba76b8eb9.gif)

## How to reproduce

See website on <https://nuaa-s3lab.github.io/dailyPaper/2021/0104.html>, the second image and images after have this error. HTML

[2021-01-11 10:24] francoischalifour commented on #164
Medium Zoom doesn't reset the `style` of the zoomed image because some user styling might still be expected on the zoomed image. However, you should remove the `zoom` style property from the zoomed image because it conflicts with the computed zoom styles.

This logic can be executed in a [Medium Zoom event](https://github.com/francoischalifour/medium-zoom#events), manipulating the zoomed images `s

[2021-01-11 10:24] #164 closed

[2021-01-25 21:59] daxpandhi opened #165 "Conflict with Semantic UI"
When using medium-zoom with Semantic UI, the code works but images disappear when zooming.

This is because of a conflict with the z-index set by Semantic UI's "pusher" element for off-screen navigation which uses a Z-index value of 2. (https://semantic-ui.com/modules/sidebar.html#/usage)

I tried this fix:

[code]

Might it be worth adding to the injected css in the script itself, perhaps?

[2021-01-27 09:45] francoischalifour commented on #165
The default `z-index` value is quite low to not be too intrusive. Since that's something that each person can update easily to their own website's needs, we won't increase it for now.

[2021-01-27 09:45] #165 closed

[2021-01-27 13:20] hannahmumma opened #166 "Zooms aren't removed from dom on close event"
## Bug description

I have two triggers I'm using for multiple zooms. The first is on the image itself and the second is on an open button. When I open and close the zoom on the zoom image click everything is fine. When I open and close the zoom on the open/close button everything appears to be fine. But as I go back to triggering the zoom on zoom image click, all the other zooms I opened with the

[2021-01-27 16:12] daxpandhi commented on #165
Makes sense. But since this is by design, yet affecting an entire framework and not just a custom site, and was difficult to figure out, perhaps it might be worth mentioning in the documentation somewhere and the specific classes that may need a higher z-index. I only found it after a fair bit of trial and error. On the surface, it just makes it look like the script is broken.

[2021-01-27 16:39] francoischalifour commented on #165
That's fair, thanks! Addressed in #167.

[2021-03-14 17:30] kirillgroshkov commented on #76
My case is that I want to use medium-zoom on top of `<v-img>` from Vuetify. It uses `background-image` as well

[2021-03-21 11:43] awnawnawn opened #168 "Configure whether a class name can be added？"
## The problem

I want to add a `class` name to switch the `background color`, because the background color should also be able to switch between **day and night modes**

## Implementation

`Options` Add `claasName` optional attributes

[2021-03-23 09:03] nimarion opened #169 "Configuration option to use natural height of image for zoomed image"
## The problem

https://user-images.githubusercontent.com/23435250/112120545-a5677500-8bbe-11eb-8bab-023070c0049e.mp4

## Solution

[2021-03-26 08:44] DotIN13 commented on #92
The same issue also ocuured when working picture tag with srcset, in which the image does not consume the full viewport.

[2021-03-29 20:55] ayushnix commented on #168
An option to automatically switch between dark and light background colors according to `prefers-color-scheme` would be great.

[2021-04-02 05:46] jay4q opened #170 "Images often flash on Safari, especially on iOS Safari"
## Bug description

Images often flash on Safari, especially on iOS Safari

## How to reproduce

reproduce [here](https://github.com/jay4q/img-flash-on-safari)

and [my blog](https://www.jay4q.com/post/explore/refactoring-ui-starting-from-scratch) (which also use `medium-zoom`)

![screen-shot](https://github.com/jay4q/img-flash-on-safari/blob/main/public/screen-shot.gif?raw=true)

## Expected beha

[2021-04-07 09:00] francoischalifour commented on #170
The image in question is very big (4000x2667px), which is likely why the transition is not smooth on mobile.

You can use the [`srcset`](https://developer.mozilla.org/en-US/docs/Web/API/HTMLImageElement/srcset) attribute on your images so that the browser pick the right resolution based on the screen.

[2021-04-07 09:22] jay4q commented on #170
@francoischalifour it's pretty smooth on android mobile, only went wrong on Safari on iPhone or Mac

[2021-04-09 02:17] ayushnix opened #171 "zoomed image ignores prefers-color-scheme in <source>"
## Bug description

When using `<picture>` and `<source>` elements with the `prefers-color-scheme` media query, medium-zoom ignores them when image is zoomed in and it falls back to the `<img>` element inside `<picture>`.

## How to reproduce

The following code results in medium zoom using the `initial-commits-light.png` when zoomed in regardless of the browser theme. Even if the dark version of

[2021-04-10 13:53] #168 closed

[2021-05-06 02:52] noctivityinc opened #173 "Using medium-zoom on a div with a background image"
## The problem

We use image grids throughout the site with divs that set the image as the background image.  We would like to be able to zoom on those images using medium-zoom, perhaps by simply specifying a data attribute that would get used as the source of the image to display.

## Solution

Something like this:

[code]
so that we can zoom an image that is displayed as a background image.

##

[2021-05-14 19:23] themantre commented on #113
Good question. This should be a default behavior. Why it's not like that?

[2021-05-19 21:38] DEvil0000 opened #174 "support for webp by picture and source tag"
## The problem
WebP is for sure a format one may want to use - especially for mobile view.
There are multiple ways to implement some webp redirect/switch and lookup on a static website.
In my case rewrite rules are not an option and the goto way is the modern html version of such a switch by using the picture/source/img tags in combination.

Example:
[code]

## Issues, Solution and Implementation

[2021-05-19 21:53] DEvil0000 opened #175 "Images get loaded/reloaded too often"
## Bug description

Not every time but often opening the zoom view the zoomed image gets loaded again.
This bug is worse when data-zoom-src is used since the original then gets loaded again also.
This bug may not be a big issue depending on the server and browser caching and may be otherwise browser dependent (chrome here).

## How to reproduce

1. open debugger -> network tab
2. click on the imag

[2021-06-09 15:19] M-ZubairAhmed commented on #173
@francoischalifour any updates on this one ?

[2021-06-10 08:18] francoischalifour commented on #173
Medium Zoom was developed for image elements and not CSS properties, so this won't be supported in the library, sorry.

[2021-06-10 08:18] #173 closed

[2021-06-10 08:19] francoischalifour commented on #175
Thanks for the report! Can you please reproduce the issue in this [sandbox](https://codesandbox.io/s/github/francoischalifour/medium-zoom/tree/master/examples/vanilla)?

[2021-06-15 08:50] DEvil0000 commented on #175
I can kind of reprodce this but even better I can explain it now. The following was observed for a img tag with data-zoom-src.

When clicking a image the img tag will get duplicated as two copies in the dom tree. This may cause loading of the image depending on the browsers caching. So in case you turn off cache or your browser decided not to cache a image (anymore) due to its size or your machine

[2021-06-25 16:13] Arecsu commented on #69
Hi! @francoischalifour I managed to solve this by adding support for css variables while supporting int values as well. CSS variables can be changed with media queries as usual.

I added `var margin` below these lines. If something goes bad it will fall back to 0.

[code]

Then, replaced the usage of `zoomOptions.margin` in the code below those lines with just `margin`

And everything works incred

[2021-06-28 08:14] francoischalifour commented on #69
@Arecsu Interesting, I'll consider this when updating the API.

[2021-07-01 09:34] francoischalifour commented on #175
Thank you for investigating @DEvil0000!

As you mentioned, that's a bit out of scope because very dependent on your browser's settings–so I'll close this issue 🙂

[2021-07-01 09:34] #175 closed

[2021-07-10 15:39] paazca opened #177 "Pressing image zooms it out"
In some instances, with a low resolution image and a device with a small screen, pressing the image zooms it out.

Gif of the issue:
![image](https://user-images.githubusercontent.com/31186542/125167307-8827d800-e1a8-11eb-9fa7-ac890ac7a118.gif)

I expect the image to at least stay the same size, and not zoom out so much.

[2021-08-03 07:25] qinyiyao opened #178 "Support for prefers-reduced-motion"
## The problem

The zoom animation is a big object quickly enlarging and moving on the screen; this may cause a problem for certain users.

https://css-tricks.com/introduction-reduced-motion-media-query/

## Solution

Conditionally set the `transition-duration` to 0ms when `prefers-reduced-motion` media query is `reduce`.

## Implementation

An immediate solution is to force a `1ms` onto the class

[2021-08-03 08:46] francoischalifour commented on #178
Thanks for the feature request!

Providing `0ms` doesn't work because the library code relies on the [`transitionend`](https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/transitionend_event) event to clean up after zooming out.

Do you mind sending a PR?

[2021-08-27 12:57] jaxtheking opened #180 "Zoomed image not closing in browsers not supporting srcset (IE11 and Edge 13-15)"
I know (and understand) this issue won't get much attention, but I'd still like to file a report for those poor souls who still have to try supporting old browsers like IE11. Apart from the fact this library is awesome, I also chose it because it states support for IE.

In browsers not supporting the srcset attribute, after clicking on an image to open it, the cloned image does not animate at all;

[2021-09-09 16:09] WinmezzZ opened #181 "Auto close on iOS safari browser"
## Bug description

but google and edge is ok, so do with any PC browser

## How to reproduce

1. code:
[code]
2. Click on the image
3.

## Expected behavior

## Reproducible example

[my site]([my site](https://blog.hyyar.com/2021/09/04/%E5%9C%A8vue%E4%B8%AD%E4%BD%BF%E7%94%A8postcss-pxtorem%E8%BF%9B%E8%A1%8C%E7%A7%BB%E5%8A%A8%E7%AB%AF%E9%80%82%E9%85%8D#%E6%95%88%E6%9E%9C)：The second picture)

##

[2021-09-10 01:56] WinmezzZ commented on #181
https://user-images.githubusercontent.com/40154766/132786386-d8d3f9c0-bf4b-42f3-a171-682e7786c3f9.MOV

It looks like Safari automatically adjusts the window

[2021-12-17 14:39] champagnealexandre opened #182 "Zoomed image appears behind the sidebar"
## Bug description

Zoomed image appears _behind_ any existing sidebar.

I’ve tried using margins, but then the image doesn’t scale correctly on mobile.

I’ve also tried using a container, but the zoomed image appears off-screen.

## How to reproduce

Using the following code:

[code]

in a website that has a sidebar.

## Expected behavior

The image should appear in front of the sidebar.

## Repr

[2021-12-18 08:27] yx91490 opened #183 "Not work on <img> element in markdown."
## Bug description

[code]

image can not scale.

## How to reproduce

## Expected behavior

## Reproducible example

## Environment

 - Browser: chrome / 95
 - `medium-zoom` version:1.8.2

[2022-01-19 19:58] francoischalifour commented on #183
Can you please provide a [reproduction in this sandbox](https://codesandbox.io/s/github/francoischalifour/medium-zoom/tree/master/examples/vanilla)? Thanks

[2022-01-19 20:01] francoischalifour commented on #182
This is likely because the sidebar `z-index` value is higher than the zoomed image. We explain how to increase the `z-index` value in the [documentation](https://github.com/francoischalifour/medium-zoom#debugging).

Closing for now, feel free to reopen.

[2022-01-19 20:01] #182 closed

[2022-01-20 05:44] yx91490 commented on #183
I'am not best at js, but this bug can be reproduced in my blog: https://yx91490.github.io/java/maven/maven_principle.html, corresponding markdown file : https://raw.githubusercontent.com/yx91490/yx91490.github.io/gh-pages/java/maven/maven_principle.md.

this picture cannot zoom:
`document.querySelector("#app > div.theme-container > main > div.theme-default-content.content__default > img")`

this p

[2022-01-20 09:14] francoischalifour commented on #183
You're using a Medium Zoom plugin created and maintained by [vuepress-community](https://github.com/vuepress/vuepress-community) so they likely know better what's going wrong. I would recommend opening an issue on their repo 🙂

Have a good day

[2022-01-20 09:14] #183 closed

[2022-01-20 12:02] yx91490 commented on #183
OK, thanks!

[2022-01-20 18:49] champagnealexandre commented on #182
@francoischalifour wonderful, working fine now!

Thank you!

[2022-01-21 17:13] calumk commented on #77
+1

Exactly the same issue

[2022-02-26 11:51] prashantnirgun opened #184 "Vitepress support"
I started migrating from vuepress to vitepress then I realize I been using this zoom plugin. its been important for me. Is there any way out where I can use this plugin inside vitepress markdown file ?

If anyone knows any article or solution please share

[2022-03-15 00:22] NYPD opened #185 "data-zoom-src not working with loading attribute"
## Bug description

When zooming into an image that has a `data-zoom-src` and a `loading="lazy"` attribute, the webpage becomes unresponsive and stuck.

## How to reproduce

This is happens on rare occasion, but its easily reproducible if you have caching turned off (open dev tools and enable the "disable cache" option)

1. Click on a image that contains a `data-zoom-src` and a `loading="lazy"` at

[2022-03-27 14:36] arthurp93 opened #188 "Pinching zoom option"
Nice pluggin already!

## The problem

## Solution

## Implementation

[2022-04-28 06:42] differentMonster opened #189 "Nuxt with medium-zoom, weridly on the directly load in."
i am using nuxt with medium-zoom, when click from nuxt-link to product page, switching the image and zoom in have no problem, but if you directly load from the product page, when switch the image and zoom in, it have werid effect, if anyone one know why please let me know.

here is the orignal question and sample to test out
https://stackoverflow.com/questions/72039001/nuxt-plugins-medium-zoom-loa

[2022-05-07 02:20] leandro-costa opened #190 "SVG images sometimes don't have a '.svg' extension"
## Bug description

Sametimes SVG images don't have '.svg' in url

## How to reproduce

Add a PlantUML diagram like this
[http://www.plantuml.com/plantuml/svg/SoWkIImgAStDuNBCoKnELT2rKt3AJx9IS2mjoKZDAybCJYp9pCzJ24ejB4qjBk5oICrB0Ie60000](url)

## Expected behavior

a full screen zoom

## Reproducible example

[Link to the bug reproduction](https://codesandbox.io/s/spring-sea-t1p4ph?file=/index.html

[2022-05-12 14:58] ImTheDeveloper commented on #152
Yea - this is what I've done and seemed to work fine

[2022-07-14 05:36] NYPD commented on #185
@laurenz-glueck

I in the mean time  just used a modified version of medium-zoom with my fix. You can check out my commit fix and copy and paste the one line of code to get it working until @francoischalifour gets a official build out. (You will have to self host/ manually include the javascript.)

[2022-07-14 06:53] laurenz-glueck commented on #185
@NYPD Thanks for your fast response! I could do it that way but I would rather just update the package via npm...

Do you have a rough ETA for the next release?

[2022-07-15 13:32] NYPD commented on #185
It's up to @francoischalifour to create an official release, I'm just a random dude who submitted a pull request. I guess you could fork this repo and submit your own package in npm with the fix included.

[2022-07-18 13:42] leonbeon commented on #151
Is there a fix or workaround for this? Really love this library and I need one that can zoom programatically and not using `data-*` tags. Safari ruining the fun for everyone again.

[2022-07-18 13:53] francoischalifour commented on #151
In theory, you could manipulate a CSS property that triggers a paint so that Safari "reflows" the screen. See [**Rendering Performance**](https://web.dev/rendering-performance/#1.-js-css-greater-style-greater-layout-greater-paint-greater-composite) on web.dev.

There might be other ways of doing this. If someone wants to go ahead and send a PR, I'd happily review it.

[2022-08-22 00:08] CavalcanteLeo opened #192 "Gallery on full viewport mode (feature request)"
Would be great if we could navigate through all images of the same groups just by pressing left/right keyboard

[2022-10-26 23:44] zam157 commented on #184
Check this [issue and comment](https://github.com/vuejs/vitepress/issues/854#issuecomment-1233866453), that might be help

[2022-11-02 05:44] EvgeniyPanin opened #193 "Customize overlay"
## The problem

Can i customize .medium-zoom-overlay styles?

## Solution

I need to set z-index to overlay to it cover other items with z-index property

## Implementation

We car replace options.background property to options.backgroundStyles and pass HTMLAttributes.style object

[2022-11-02 08:25] francoischalifour commented on #193
We explain how to override the Medium Zoom styles in the [**Debugging**](https://github.com/francoischalifour/medium-zoom#debugging) section.

[2022-11-02 08:25] #193 closed

[2022-11-14 17:46] francoischalifour commented on #185
🎉 This fix was released in [v1.0.7](https://github.com/francoischalifour/medium-zoom/releases/tag/1.0.7).

Sorry that it took this long to release. I got local dependency issues on my new laptop which put off the release. I should invest in triggering the release from the CI.

[2022-11-15 13:27] francoischalifour commented on #174
🎉  Support for `<picture>` elements by @fennifith was released in [v1.0.8](https://github.com/francoischalifour/medium-zoom/releases/tag/1.0.8).

[2022-11-22 20:26] hartmut-co-uk opened #195 "Working Nuxt3 example - add to README.md or separate page?"
Hi, I have a working [nuxt3](https://nuxt.com/v3) integration I wanted to share.
It's been implemented as a nuxt plugin.

1. install _medium-zoom_
[code]

2. Add following _client side_ (file name suffix `.client.(ts|js)`) plugin: `./plugins/medium-zoom.client.ts`

[code]

Now for each page rendered / client-side navigated to, medium-zoom is applied accordingly for all images in the DOM with chose